name: tests

on:
  push:
  pull_request:

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        env:
          PYTHONUTF8: "1"
          PYTHONIOENCODING: "utf-8"
          USE_TESTNET: "True"
        run: |
          python tests/run_tests.py all

